/* Global styles */
*{
    padding: 0;
    margin: 3px 5px 3px 5px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Create grid */
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 4fr 4fr;
    grid-gap: 20px;
    grid-template-areas: 
    "pageheading pageheading"
    "nav nav"
    "maintile sidebartop"
    "maintile sidebarbottom";
}
    









