/* Global styles */
*{
    padding: 0;
    margin: 3px 5px 3px 5px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Create grid */
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 4fr 4fr;
    grid-gap: 20px;
    grid-template-areas: 
    "pageheading pageheading"
    "nav nav"
    "maintile sidebartop"
    "maintile sidebarbottom";
}

/* Update body styles */
body {
    background-color: rgb(131, 179, 169);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 100%;
}

/* Add grid-area name */
.page-heading {
    grid-area: pageheading;
}

/* nav */

/* Add nav styles */
nav {
    grid-area: nav;
    background-color: rgb(100, 73, 73);
    display: inline-flex;
    height: 48px;
    width: 100%;
}

.site-nav {
    list-style-type: none;
    grid-area: sitenav;
    text-decoration: none;
    display: inline-flex;
    width: 600px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: auto;
}

/* style site-nav */
.site-nav {
    list-style-type: none;
    grid-area: sitenav;
    text-decoration: none;
    display: inline-flex;
    width: 600px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: auto;
}

/* shift .nav-right to right */
.nav-right {
    grid-area: navright;
    list-style-type: none;
    text-decoration: none;
    width: auto;
    align-items: flex-end;
}

/* Style links */
a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    background: rgb(180, 98, 93);
    padding: 0px 15px
}

/*style main article */
.main-tile {
    grid-area: maintile;
    background: white;
}

/* main tile content */
.main-tile h1  {
    text-align: center;
    padding: 20px;
    font-size: 3.5rem;
}

.main-tile p {
    text-align: center;
}







    









